body {
    color:#282425;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    color: #0504AA;
    text-align: center;
    font-size: 30px;
}

h2 {
    color:white;
    font-size: 25px;
    background-color: #9B9ADD;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin-bottom: 0;
}

h4 {
    font-style: italic;
    font-weight: normal;
    margin: 0;
}

ul {
    margin-top: 0;
}

.paticka {
    background-color: #0504AA;
    color: white;
    text-align: center;
    padding: 1.5px;
}

.foto-omne {
    width: 200px;
    float: left;
    margin: 10px 30px;
    border-radius: 15px;
}

.omne {
    overflow: auto;
    padding-top: 0;
}

section {
    padding: 10px 0;
}

h2, 
h3,
h4,
p {
    padding: 0 80px;
}

ul {
    padding: 0 120px;
}